@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --content-bg-color: #f3f4f6;
    --content-color: #4b5563;
    --content-header-color: #4b5563;
    --highlight-bg-color: #f3f4f6;
}

.wrapCont li a {
    text-wrap: wrap;
    overflow-wrap: break-word;
}

@layer components {
    .post--light {
        @apply text-gray-600 bg-white;
    }
    .post--dark {
        @apply text-gray-300 bg-gray-900;
        --content-bg-color: #1f2937;
        --content-color: #d1d5dc;
        --content-header-color: #d1d5dc;
        --highlight-bg-color: #f3f4f6;
    }
    .post--sepia {
        @apply bg-amber-50 text-amber-900;
        --content-bg-color: #fff3c7;
        --content-color: #783510;
        --content-header-color: #783510;
        --highlight-bg-color: #f3f4f6;
    }
    .post--forest {
        @apply text-green-100 bg-green-900;
        --content-bg-color: #166534;
        --content-color: #dcfce8;
        --content-header-color: #dcfce8;
        --highlight-bg-color: #f3f4f6;
    }
    .post--ocean {
        @apply text-blue-100 bg-blue-900;
        --content-bg-color: #1e40b0;
        --content-color: #dceafe;
        --content-header-color: #dceafe;
        --highlight-bg-color: #f3f4f6;
    }
    .post--sunset {
        @apply text-orange-800 bg-orange-100;
        --content-bg-color: #fed7aa;
        --content-color: #9a3412;
        --content-header-color: #9a3412;
        --highlight-bg-color: #f3f4f6;
    }

    .post-bg {
        background: var(--content-bg-color);
    }

    .post-header {
        color: var(--content-header-color);
    }
    .post-content {
        color: var(--content-color);
    }

    .bg-gradient-custom {
        background-image: linear-gradient(
            to bottom right,

            #f0eeee,
            #e0d9d9 25%,
            #c1cadb 50%,
            #cdd7eb 75%,
            #acafd0
        );
    }

    .bgg {
        background-image: url("../images/hero1.jpg");
    }
}
